body {
    width: 40px;
    height: 550px;
    background-color: rgb(139, 80, 167);
    margin: 0;
    font-family: Arial;
}





.nav-container{
   height: 500px;
   width: 200px ;
   display: flex;

}
.nav-container .logo-container{
  height: 60px;  
}
.nav-container .nav-logo {
   border-radius: 9999px;
   height: 100px;
   width: 100px;
   object-fit: cover;
   display: flex;
   position: absolute;
   margin-top: 0;
   margin-left: 20px;
}

.navigation-bar{
    width: 1400px;
}

.navigation-bar ul  {
    list-style-type: none;
    background-color: rgb(124, 12, 96);
    width: 600px;
    height: 60px;
    align-items: center;
    display: flex;
    padding-left: 117%;
    margin-right: 55px;
    margin-top: 0;
    
}

.navigation-bar li a{
    color: rgb(14, 13, 13);
    font-size: large;
    display: block;
    text-decoration: none;
    padding: 20px 20px 20px 20px; 
       

}

.navigation-bar li a:hover{
    background-color: rgb(153, 20, 98);
    transition: .5s;
    cursor: wait;
    
}


